<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<div class="w-50">

    <canvas id="myChart"></canvas>

    <script type="application/javascript">

        $.ajax(
            {
            url: "{% url 'core:statistic:pie_eta' %}",
            data:{},
            dataType: 'json',
            success: function (dati) {
                var ctx = document.getElementById('myChart').getContext('2d');
                console.log(dati["dataresult"])
                var myChart = new Chart(ctx, {
                    type: 'pie',
                    responsive: true,
                    data: {
                        labels: dati["labels"],
                        datasets: [{
                            label: '# of Votes',
                            data: dati["dataresult"],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1,
                        }],
                    },

                });

            },
        }
        );

    </script>
</div>