{% extends 'homepage.html' %}
{% load staticfiles %}
{% block messaggiologo %}
    <div class="starter-template">
        <h1>Biennale Internazionale dell'Incisione<br>Premio Acqui</h1>
        <p class="lead">Benvenuto<br> Il presente portale è rieservato. L'utilizzo è autorizzato solo alle commissioni
            del premio.</p>
        <p><img src="{% static "Gestionale/logo.png" %}" width="150px"></p>
    </div>
    <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Disclaimer</h4>
  <p>Il presente portale è riservato ogni accesso o tentativo di accesso è tracciato, per la gestione della privacy in conformità al ai sensi dell’<strong>art.13 del Regolamento europeo (UE) 2016/679</strong><hr>
  <p class="mb-0"><a href="http://www.privacy-regulation.eu/it/13.htm">Visualizza la normativa</a></p>
</div>
{% endblock %}
