{% extends 'homepage.html' %}
{% block contentmain %}
    <h2>Elenco Autori</h2>
    <p>Voci trovate nel database:{{ elementi }}</p>

    <table id="recordtable" class="display" style="width:100%">
        <thead>
        <tr>
            <th></th>
            <th>Autore</th>
            <th>Dati</th>
            <th>Residenza</th>
            <th>Contatti</th>

        </tr>
        </thead>

        {% for entr in export_record %}
            <tr>

                <td><img src="/media/{{ entr.imagefile }}" style="max-width:80px;height:auto"></td>
                <td>{{ entr.titolo }} {{ entr.nome }} {{ entr.cognome }}</td>
                <td><i class="icofont-calendar"></i> {{ entr.nascita }}
                    <br><i class="icofont-court"></i> {{ entr.luogo_nascita }} {{ entr.stato_nascita }}
                    <br><i class="icofont-{{ entr.genere }}"></i> {{ entr.genere }}</td>

                <td>
                    <i class="icofont-address-book"></i> {{ entr.indirizzo }} {{ entr.citta }} {{ entr.stato_provincia }}
                    <br><i class="icofont-location-pin"></i> {{ entr.stato }} - {{ entr.zip }}</td>
                <td><i class="icofont-phone"></i> {{ entr.telefono }}
                     <br><i class="icofont-ui-email"></i> {{ entr.mail }}
                    <br><i class="icofont-flag"></i> Lingua: {{ entr.lingua }}</td>
            </tr>

        {% endfor %}
    </table>
    <hr>
<script>
    $(document).ready(function () {
        $('#recordtable').DataTable();
    });</script>
{% endblock %}
