{% extends 'homepage.html' %}
{% block contentmain %}
    <style>
     @media print {
            .print-button {
                visibility: hidden;
            }
        }
    </style>
    <h2>Elenco Opere</h2>
    <p>La presente vista di consultazione permette di visualizzare i contenuti inseriti ed eventualmente stamparli.</p>
    <p>Voci trovate nel database:{{ elementi }}</p>

    <table id="recordtable" class="display" style="width:100%">
         <thead>
        <tr style="font-size: 0.8em">
            <th></th>
            <th></th>
            <th>Posizione</th>
            <th>Autore</th>
            <th>Titolo opera</th>
            <th>Descrizione</th>
            <th>Stampa <small>(mm)</small></th>
            <th>Anno</th>
            <!--<th>Commento</th>-->
            <th>TAG</th>
            <th></th>
            <!--<th>Data caricamneto</th>-->
        </tr>
        </thead>
        <tbody>
        {% for entr in export_record %}
            <tr style="font-size: 0.7em">
            <td><a href="http://biennale.titansolution.it:8000/admin/Gestionale/opera/{{ entr.id }}">Mod</a></td>
                <td>
                    {% if entr.immagini.imagefile  %}
                        <a href="/media/{{ entr.immagini.imagefile}}"><img src="/media/{{ entr.immagini.preview}}" style="max-width:80px;height:auto"></a><small>clicca per ingrandire</small>
                    {% else %}
                        <a href="/media/logo_no_image.png"><img src="/media/logo_no_image.png" style="max-width:80px;height:auto"></a>

                    {% endif %}
                    </td>
                <td>{{ entr.posizione_archivio }}</td>
                <td style="text-transform: uppercase">{{ entr.autore.nome }} {{ entr.autore.cognome }}<br>
                    Stato: {{ entr.nazione }}</td>
                <td style="text-transform: uppercase"><strong>{{ entr.titolo_opera }}</strong></td>
                <td style="text-transform: lowercase">{{ entr.descrizione }}</td>
                <td>Lastra: {{ entr.dimensione_lastra_x }} X {{ entr.dimensione_lastra_y }} <br>
                Foglio: {{ entr.dimensione_foglio_x }} X {{ entr.dimensione_foglio_y }}<br>

                Tecnica: <span style="text-transform: lowercase">{{ entr.tecnica }}</span></td>
                 <td>{{ entr.anno_realizzazione }}</td>
                <!--<td>{{ entr.commento_opera }}</td>-->
                <td style="text-transform: lowercase">{{ entr.tag }}</td>
                <!-- <td> {{ entr.immagini.datestamp}}</td>-->
                <td> <a href="/operacompleta?id={{ entr.id}}"><button type="button" class="btn btn-primary print-button">Stampa completa</button></a></td>

            </tr>

        {% endfor %}
    </tbody>
    </table>
    <hr>

<script>
    $(document).ready(function () {
        $('#recordtable').DataTable({
            "order": [[ 1, "asc" ]],
            aLengthMenu: [
        [25, 50, 100, 200, -1],
        [25, 50, 100, 200, "All"]
    ],

    iDisplayLength: -1
        });
    });</script>
{% endblock %}
