{% extends 'homepage.html' %}
{% block contentmain %}
    <h2>Elenco Immagini</h2>
    <p>Voci trovate nel database:{{ elementi }}</p>

    <table id="recordtable" class="display" style="width:100%">
        <thead>
        <tr>
            <th></th>
            <th>Autore</th>
            <th>Stato</th>
            <th>Titolo opera</th>
            <th>Commento</th>
            <th>Image meta</th>
            <th>Data caricamneto</th>
        </tr>
        </thead>

        {% for entr in export_record %}
            <tr>

                <td><a href="/media/{{ entr.imagefile}}"><img src="/media/{{ entr.imagefile}}" style="max-width:80px;height:auto"></a></td>
                <td>{{ entr.autore.titolo }} {{ entr.autore.nome }} {{ entr.autore.cognome }}</td>
                <td>{{ entr.autore.stato }}</td>
                <td>{{ entr.titolo_opera }}</td>
                <td>{{ entr.commento }}</td>
            <td> {{ entr.metainfo}}</td>
             <td> {{ entr.datestamp}}</td>
            </tr>

        {% endfor %}

    </table>
    <hr>
<script>
    $(document).ready(function () {
        $('#recordtable').DataTable();
    });</script>
{% endblock %}
