{% extends 'homepage.html' %}
{% block contentmain %}
    {{ id }}
    <style>
        @media print, screen {
            .autore {
                background: lightblue;
                padding: 2%;
            }

            h2.opera {
                background: orange;
                padding: 2%;
            }

            .capitalize {
                text-transform: capitalize;
            }

            .impaginazione {
                margin-top: 1%;

            }

            table.impaginazione tr td {
                padding: 0.5%;
                background-color: #f1f1f1;
                page-break-after: always;
            }
        }

        .intestazionepos {
            background: darkblue;
            color: white;
        }

        @media print {
            .print-button {
                visibility: hidden;
            }

            div#sortable {
            }

            .row.impaginazione {
                max-height: 30% !important;
            }
        }

        .operadiv:nth-child(2n) {
            page-break-after: always!important;
        }
        {#.operadiv {#}
        {#    page-break-after: always !important;#}
        {#}#}


    </style>
    <div class="row">
        <div class="col-md-10"><h2>Elenco completo schede</h2>
            <p>I dati presenti nella pagina sono stati inseriti conformentente alla attuali normative vigenti in materia
                di
                privacy e gestione dei dati personali.</p></div>
        <div class="col-md-2">
            <div class="btn-group-vertical" role="group" aria-label="navigation">
                <button type="button" class="btn btn-primary print-button btn-" onclick="window.print()"><i
                        class="icofont-print"></i> Stampa scheda
                </button>
                <button type="button" class="btn btn-primary print-button" onclick="selezionate()"><i
                        class="icofont-bulb-alt"></i> Selezionati
                </button>
                <button type="button" class="btn btn-primary print-button" onclick="finale()"><i
                        class="icofont-badge"></i> Finale
                </button>
                <button type="button" class="btn btn-primary print-button" onclick="tutte()"><i
                        class="icofont-bullhorn"></i> Mostra tutto
                </button>
            </div>
            <script>
                function selezionate() {
                    $('.operadiv').hide()
                    $('.selezionata').show()
                }

                function finale() {
                    $('.operadiv').hide()
                    $('.finale').show()
                }

                function tutte() {
                    $('.operadiv').show()

                }
            </script>
        </div>
    </div>
    <hr>
    <div id="sortable">
        {% for entry in entries %}
            <!-- Intestazione -->


            <div class="operadiv {% if entry.riconoscimenti == "selezionato, finale" %}
                                    selezionata finale
                                    {% elif entry.riconoscimenti == "selezionato" %}
                                    selezionata
                                {% endif %}" data-price="{{ entry.posizione_archivio }}">
                <h2 class="opera">
                    <div class="row impaginazione">
                        <div class="col-md-4">
                            <h4 style="text-transform: uppercase"><small>Opera:</small><br>
                                {{ entry.titolo_opera }}</h4></div>
                        <div class="col-md-4">
                            <h4 style="text-transform: uppercase"><small>Autore:</small><br>
                                {{ entry.autore.nome }} {{ entry.autore.cognome }}
                            </h4></div>
                        <div class="col-md-4 intestazionepos">

                            <div class="row ">
                                <div class="col-md-8">
                                    <small>Anno</small>
                                </div>
                                <div class="col-md-4">
                                    <small>Pos.</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <p style="font-size: medium">{{ entry.edizione }}</p>
                                </div>
                                <div class="col-md-4">
                                    {{ entry.posizione_archivio }}
                                </div>

                            </div>

                        </div>
                    </div>
                </h2>

                <div class="row impaginazione row-eq-height">

                    <div class="col-md-3">

                        {% if entry.immagini.preview %}
                            <a href="/media/{{ entry.immagini.imagefile }}"><img
                                    src="/media/{{ entry.immagini.preview }}" style="max-width:350px;width: 80%"></a>

                        {% else %}
                            <a href="/media/logo_no_image.png"><img src="/media/logo_no_image.png"
                                                                    style="width: 100%;height:auto"></a>

                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        <table class="impaginazione" style="width: 100%; font-variant: small-caps">
                            <colgroup>
                                <col width="30%">
                                <col width="70%">
                            </colgroup>
                            <tr>
                                <td><i class="icofont-calendar"></i> <strong>Data di nascita:</strong></td>
                                <td>{% if entry.autore.nascita %}{{ entry.autore.nascita }}{% endif %}</td>
                            </tr>
                            <!--
                            <tr>
                                <td><i class="icofont-location-pin"></i> <strong>Stato:</strong></td>
                                <td> {{ entry.autore.stato }} - {{ entry.autore.zip }}</td>
                            </tr>
                            -->
                            <tr style="background: white">
                                <td style="background: white"></td>
                                <td style="background: white"></td>
                            </tr>
                            <tr>
                                <td><strong>Stato</strong></td>
                                <td style="font-variant: all-small-caps">{{ entry.nazione }}</td>
                            </tr>
                            <tr>

                                <td><strong>Riconoscimenti:</strong></td>
                                <td>{% if entry.riconoscimenti %}
                                    {{ entry.riconoscimenti }}
                                {% endif %}</td>
                            </tr>
                            <tr>
                                <td><strong>Dati tecnici opera</strong></td>
                                {% if entry.dimensione_lastra %}
                                    <td>{{ dimensione_lastra }}</td>
                                {% else %}
                                    <td style="font-variant: all-small-caps">Lastra: {{ entry.dimensione_lastra_y }}
                                        X {{ entry.dimensione_lastra_x }}
                                        Foglio: {{ entry.dimensione_foglio_y }} X {{ entry.dimensione_foglio_x }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td><strong>Tecnica:</strong></td>
                                <td style="font-variant: all-small-caps">{{ entry.tecnica }}</td>
                            </tr>
                            <tr>
                                <td><strong>Anno realizzazione:</strong></td>
                                <td style="font-variant: all-small-caps">{{ entry.anno_realizzazione }}</td>
                            </tr>
                            <tr>
                                <td><strong>Anno presentazione:</strong></td>
                                <td style="font-variant: all-small-caps">{{ entry.edizione }}</td>
                            </tr>


                        </table>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="impaginazione" style="width: 100%; font-variant: small-caps">
                            <tr>
                                <td class="pr-3 mr-3"><strong>Descrizione:</strong></td>
                                <td style="font-variant: all-small-caps; font-size:0.9rem">{{ entry.descrizione }}</td>
                                <!-- <tr>
                        <td><strong>Descrizione:</strong></td>
                        <td>{{ entry.note }}</td>
                    </tr>-->
                            </tr>
                        </table>
                    </div>
                </div>

                <hr>
            </div>
        {% endfor %}
    </div>


    <script>
        function sort() {
            var value = $("#order option:selected").val()
            console.log(value)

            $("#sortable div.operadiv").sort(sort_div_asc).appendTo('#sortable');

            function sort_div_asc(a, b) {
                var na = $(a).attr("data-price")
                var a = parseInt(na, 10);

                var nb = $(b).attr("data-price")
                var b = parseInt(nb, 10);

                console.log(a, b)

                return (b < a) ? 1 : -1;
            }

            function sort_div_desc(b, a) {
                return ($(b).attr("data-price") < ($(a).attr("data-price"))) ? 1 : -1;
            }


        }

        sort(1)
    </script>
{% endblock %}
